<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand mx-auto" href="{{ '/' | relative_url }}">
      <strong>PAUL YUERGENS</strong>
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <span class="navbar-text"><strong>Work Samples</strong></span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ '/trails.html' | relative_url }}">Research & Reporting</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ '/michigan-liberation.html' | relative_url }}">Writing</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
