/* Import Merriweather from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* Base styles */
body {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  line-height: 1.5;
  color: #34495e;
}

.container {
  max-width: 720px;
}

/* Navigation */
.navbar-brand {
  font-size: 20px;
  font-variant: small-caps;
}

.nav-link {
  font-size: 18px;
}

/* Mobile styles */
@media (max-width: 991px) {
  .navbar-brand {
    font-size: 24px;
  }
  
  .navbar-collapse {
    text-align: center;
  }
  
  .navbar-nav {
    margin: 0 auto;     /* <-- key line */
    float: none;
    display: inline-flex;
    flex-direction: column;
  }
}
